Repository rootkitoriginal/xRatEcosystem, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, backend, frontend, ci/cd, dependencies, docker, tests

.github/labeler.yml:

documentation:
  - docs/**/*
  - '**/*.md'

backend:
  - backend/**/*

frontend:
  - frontend/**/*

ci/cd:
  - .github/workflows/**/*
  - .github/**/*.yml

dependencies:
  - '**/package.json'
  - '**/package-lock.json'

docker:
  - '**/Dockerfile'
  - docker-compose*.yml

tests:
  - '**/*.test.js'
  - '**/*.test.jsx'
  - '**/__tests__/**/*'

feat: Add DevOps Assistant AI chat model profile
  .github/DEVOPS_ASSISTANT.md
Labels: documentation

feat: Configure DevOps Chat Mode with specialized tools
  .github/chatmodes/DevOPS.chatmode.md
  .gitlab-ci.yml
Labels: documentation

fix: update branch name validation to allow copilot/ prefix
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: corrigir validação de nome de branch para permitir copilot/
  .github/copilot-instructions.md
  .github/workflows/pr-checks.yml
Labels: documentation, ci/cd

Feature/testing docs workflows (#15)
  .github/chatmodes/DevOPS.chatmode.md
  .github/copilot-instructions.md
  .gitlab-ci.yml
Labels: documentation
